body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.App {
  text-align: center;
  background-color: rgba(13, 253, 0, 0.13);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2em;
  color: black;
  margin: 0; 
  line-height: 1.5; 
}

h2 {
  font-size: 4em;
  color: rgba(38, 0, 255, 0.578);
  margin: 0; 
  line-height: 1.5; 
  text-shadow: 0 0 10px rgba(0, 217, 255, 0.411), 0 0 10px rgba(38, 0, 255, 0.5), 0 0 10px rgba(38, 0, 255, 0.5);
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-height: 900vh; /* Increase the minimum height to enable more scrolling */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
